:root{
  --primary-color:  #E2E8F0;   /* Light Blue */
  --secondary-color: #94A3B8;
  --tertiary-color: #59ddd5;/* Light Gray */
  --quaternary-color: #9ff2ec17
}
*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 1.5;
    /* text-align: justify; */
    /* font-weight: 400; */
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.row-wrap{
  flex-wrap: wrap;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .dark{
    color: #E2E8F0;

  }
  .icon_container{
    margin-top: 64px;
    margin-left: 4px;
  }
  .light{
    color: #94A3B8;
  }

  .icon{
    margin-right: 20px;
    font-size: 24px;
    
  }
  .icon:hover{
    color: #E2E8F0;
  }
  .mb-16{
    
    margin-bottom: 1rem;
  }

  img{
    width: 25%;
    height: 30%;
    border: 2px ;

  }

  .skills{

  }